extends ../../layouts/default

block head
  title 關於 LifeShow Team

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 關於 LifeShow Team
      div.media
        a.pull-left(href='#')
          img.media-object.img-circle(src='https://1.gravatar.com/avatar/42324a396666b26cefbe250aa60e5f26?d=https%3A%2F%2Fidenticons.github.com%2Fa6cbe5afd87c093a881b897b0705b1f1.png&r=x&s=400', style='width: 128px; height: 128px;')
        div.media-body
          h4.media-heading(style="color: aliceblue") 錢逢祥 Fred Chien&nbsp;
            .label.label-warning Magic
          blockquote
            | 噢！不！
            audio(controls)
              source(src="http://211.78.254.238/track/527ef904bc92b5a44600000b", type="audio/mp3")
            small
              i.fa.fa-github.fa-lg  cfsghost
      div.media.text-right
        a.pull-right(href='#')
          img.media-object.img-circle(src='/img/lynn.jpg', style='width: 128px; height: 128px;')
        div.media-body
          h4.media-heading(style="color: aliceblue") 陳珮琳 Lynn Chen&nbsp;
            .label.label-danger Hot
          blockquote
            | 逼逼逼逼逼
            audio(controls)
              source(src="http://211.78.254.238/track/527e3f1835bc346d28000005", type="audio/mp3")
            small
              i.fa.fa-github.fa-lg  LynnO
      div.media
        a.pull-left(href='#')
          img.media-object.img-circle(src='https://0.gravatar.com/avatar/6c1fa7a8aa815fe94b81f212806892e5?d=https%3A%2F%2Fidenticons.github.com%2F1abbb4cf73b5dcb0a075ccedf0638263.png&r=x&s=400', style='width: 128px; height:128px;')
        div.media-body
          h4.media-heading(style="color: aliceblue") 王漢宏 Hank Wang&nbsp;
            .label.label-success Hermit
          blockquote
            | ho ho ho!
            audio(controls)
              source(src="http://211.78.254.238/track/527effa2bc92b5a446000011", type="audio/mp3")
            small
              i.fa.fa-github.fa-lg  hankwang
      div.media.text-right
        a.pull-right(href='#')
          img.media-object.img-circle(src='/img/lai.jpg', style='width: 128px; height: 128px;')
        div.media-body
          h4.media-heading(style="color: aliceblue") 小賴&nbsp;
            .label.label-info Brand
          blockquote
            | &nbsp;
            audio(controls)
              source(src="http://211.78.254.238/track/none", type="audio/mp3")
            small
              i.fa.fa-github.fa-lg  lai3rd
    div.col-sm-6.special
      div.page-header
        h1 &nbsp;
      //- p.lead The first name in entertainment.
      img(src="http://i.imgur.com/D9UPRdy.png")
