div.navbar.navbar-inverse.navbar-fixed-top
  div.container
    div.navbar-header
      a.navbar-brand(href='/')
        //- img.navbar-logo(src='/media/logo-symbol-64x64.png')
        span.navbar-brand-label #{projectName}
      button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.my-navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    div.navbar-collapse.my-navbar-collapse.collapse
      ul.nav.navbar-nav
        li: a(href='/') 首頁
        li: a(href='/about/') 關於 LifeShow Team
        li: a(href='#') iPhone版下載
        li: a(href='#') Android版下載
        //- li: a(href='/contact/') 聯絡我們
      ul.nav.navbar-nav.navbar-right
        if user
          li: a(href='/logout/')
            i.icon-user.icon-white
            |  #{user.username}
        else
          li: a(href='/login/')
            i.icon-user
            |  登入
