extends ../../../layouts/default

block head
  title LifeShow Playing

block feet
  script(src='/views/program/player/index.js?#{cacheBreaker}')

block body
  input#programID(type='hidden', value='#{programID}')
  div.row
    div.col-sm-12.special
      div#track_wareroom(style='text-align:center;')
