extends ../layouts/default

block head
  title #{projectName} - Be the director of your life.

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/index.js?#{cacheBreaker}')

block body
  div.jumbotron
    blockquote(style="border: 0")
        h1(style="color: antiquewhite; font-family: serif;") iShow
        small(style="color: #999") Be the director of your life.
    p.lead(style="color: aliceblue")
      | 每個人都是生活的導演，都值得被紀念，我們的故事精彩上演。
      div
        a.btn.btn-primary.btn-lg(href='/new') 開始你的創作
        small(style="color: #666")  或&nbsp;
        a.btn.btn-info.btn-lg(href='#') 看看別人的
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 拍下每個精彩瞬間
          img.img-rounded(src="/img/more1.jpg", width="166")
          //- a.btn.btn-default.btn-block(href='/about/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 配上精心挑選的情境音樂
          img.img-rounded(src="/img/more2.jpg", width="280")
          //- p
          //- a.btn.btn-default.btn-block(href='/signup/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 錄上最真實的心中獨白
          img.img-rounded(src="/img/more3.png", width="190")
          //- p 錄上一段最真實的心中獨白
          //- a.btn.btn-default.btn-block(href='/contact/') Learn More

  div.page-header
    h1
      | 熱門創作 
      small 最受歡迎的作品都在這裡

  div.row#album
